<ion-header>
  <ion-toolbar>
    <ion-title>tab5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <ion-row>
    <ion-col>Pengalaman</ion-col>
    <ion-col> Dalam menjalani kuliah ini pengalaman saya cukup baik, dalam kelas saya tidak dapat berkonsentrasi secara penuh selama 2 jam jadi bentuk kelas memberikan video yang dapat dijalankan dengan tempo sendiri sangat membantu dalam pembelajaran saya.</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Kritik</ion-col>
    <ion-col> Tidak ada</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Saran</ion-col>
    <ion-col> Tidak ada</ion-col>
  </ion-row>
</div>
</ion-content>
